<script src="javascripts/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
var ci=0;
var player;
var to;
var id;
var gezi={};
var play1=[];
var play2=[];
function g(a){
if(ci==0){
if(gezi[a]){
alert('您选择的格子已被走过，请选择其他格子');
}else{
 if(player=='1'){
  gezi[a]=1;
  play1.unshift(a);
 $('#'+a).append('<div style="margin-top:0px;margin-left:8px;font-size:25">X</div>');
  $('#'+id).html('O');
 }
 if(player=='2'){
  play2.unshift(a);
  gezi[a]=2;
 $('#'+a).append('<div style="margin-top:0px;margin-left:8px;font-size:25">O</div>');
  $('#'+id).html('X');
 }
  socket.emit("move",{from:player,to:to,move:a});
 checkwin(a);
	ci=1;
 }
 }
else{
  alert('请等待player'+to+'进行操作！');
 }
};
function checkwin(a){
	var shu=a.substring(0,a.indexOf('-'));
	var heng=a.substring(a.indexOf('-')+1,a.length);
	shu=parseInt(shu);
	heng=parseInt(heng);
	for(var i=0;i<5;i++){
		var heng2=heng-4+i;
		var shu2=shu-4+i;
		var a0=shu+'-'+heng2;
		var a1=shu+'-'+(heng2+1);
		var a2=shu+'-'+(heng2+2);
		var a3=shu+'-'+(heng2+3);
		var a4=shu+'-'+(heng2+4);
		var b0=shu2+'-'+heng;
		var b1=(shu2+1)+'-'+heng;
		var b2=(shu2+2)+'-'+heng;
		var b3=(shu2+3)+'-'+heng;
		var b4=(shu2+4)+'-'+heng;
		var c0=shu2+'-'+heng2;
		var c1=(shu2+1)+'-'+(heng2+1);
		var c2=(shu2+2)+'-'+(heng2+2);
		var c3=(shu2+3)+'-'+(heng2+3);
		var c4=(shu2+4)+'-'+(heng2+4);
		var d0=(shu2+0)+'-'+(heng2+8);
		var d1=(shu2+1)+'-'+(heng2+7);
		var d2=(shu2+2)+'-'+(heng2+6);
		var d3=(shu2+3)+'-'+(heng2+5);
		var d4=(shu2+4)+'-'+(heng2+4);
		var e0=(shu2+8)+'-'+(heng2+0);
		var e1=(shu2+7)+'-'+(heng2+1);
		var e2=(shu2+6)+'-'+(heng2+2);
		var e3=(shu2+5)+'-'+(heng2+3);
		var e4=(shu2+4)+'-'+(heng2+4);
		if(play1.indexOf(a0)!=-1&&play1.indexOf(a1)!=-1&&play1.indexOf(a2)!=-1&&play1.indexOf(a3)!=-1&&play1.indexOf(a4)!=-1){
		alert('player1 win');
		window.location.href="/";
		}
		if(play1.indexOf(b0)!=-1&&play1.indexOf(b1)!=-1&&play1.indexOf(b2)!=-1&&play1.indexOf(b3)!=-1&&play1.indexOf(b4)!=-1){
		alert('player1 win');
		window.location.href="/";
		}
		if(play1.indexOf(c0)!=-1&&play1.indexOf(c1)!=-1&&play1.indexOf(c2)!=-1&&play1.indexOf(c3)!=-1&&play1.indexOf(c4)!=-1){
		alert('player1 win');
		window.location.href="/";
		}
		if(play1.indexOf(d0)!=-1&&play1.indexOf(d1)!=-1&&play1.indexOf(d2)!=-1&&play1.indexOf(d3)!=-1&&play1.indexOf(d4)!=-1){
		alert('player1 win');
		window.location.href="/";
		}
		if(play1.indexOf(e0)!=-1&&play1.indexOf(e1)!=-1&&play1.indexOf(e2)!=-1&&play1.indexOf(e3)!=-1&&play1.indexOf(e4)!=-1){
		alert('player1 win');
		window.location.href="/";
		}
		if(play2.indexOf(a0)!=-1&&play2.indexOf(a1)!=-1&&play2.indexOf(a2)!=-1&&play2.indexOf(a3)!=-1&&play2.indexOf(a4)!=-1){
		alert('player2 win');
		window.location.href="/";
		}
		if(play2.indexOf(b0)!=-1&&play2.indexOf(b1)!=-1&&play2.indexOf(b2)!=-1&&play2.indexOf(b3)!=-1&&play2.indexOf(b4)!=-1){
		alert('player2 win');
		window.location.href="/";
		}
		if(play2.indexOf(c0)!=-1&&play2.indexOf(c1)!=-1&&play2.indexOf(c2)!=-1&&play2.indexOf(c3)!=-1&&play2.indexOf(c4)!=-1){
		alert('player2 win');
		window.location.href="/";
		}
		if(play2.indexOf(d0)!=-1&&play2.indexOf(d1)!=-1&&play2.indexOf(d2)!=-1&&play2.indexOf(d3)!=-1&&play2.indexOf(d4)!=-1){
		alert('player2 win');
		window.location.href="/";
		}
		if(play2.indexOf(e0)!=-1&&play2.indexOf(e1)!=-1&&play2.indexOf(e2)!=-1&&play2.indexOf(e3)!=-1&&play2.indexOf(e4)!=-1){
		alert('player2 win');
		window.location.href="/";
		}
		
		}

};
$(document).ready(function(){
for(var n=0;n<20;n++){
	for(var i=0;i<20;i++){
	$("#qipan").append('<div id=\"'+n+'-'+i+'\" style="border:1px solid BLACK;margin-left:'+30*i+'px;margin-top:'+30*n+'px;width:30px;height:30px;position:absolute;" onclick="g(this.id)"></div>')
	}
}
 $("#player").blur(function(){
	player=$('#player').val();
	if(player=='1'){
	to='2';
	}else{
	to='1';
	}
	socket.emit("online",{from:player});
  });
});
	var socket = io.connect();
	socket.on('move',function(data){
		ci=0;
		if(data.from==1){
			gezi[data.move]=1;
			play1.unshift(data.move);
			$('#'+data.move).append('<div id="'+data.move+'123'+'" style="margin-top:0px;margin-left:8px;font-size:25"><font color=RED>X</font></div>');
			id=data.move+'123';
		}
		if(data.from==2){
			play2.unshift(data.move);
			gezi[data.move]=2;
			$('#'+data.move).append('<div id="'+data.move+'123'+'" style="margin-top:0px;margin-left:8px;font-size:25;"><font color=RED>O</font></div>');
			id=data.move+'123';
		}
		checkwin(data.move);
	});

</script>
<script>


</script>
<body>
<div id='qipan'></div>
<div style="margin-top:620px;position:absolute;">您的名称<input id="player" ></div>
</body>